@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Área Privada</h1>

<p>Ops...Está pagina não está acessível pra você no momento</p>
<a asp-action="Index">Voltar para pagina inicial</a>
<div class="text-lg-center justify-content-lg-center">
<img src="~/assets/gifs/error.gif" asp-append-version="true"/>
</div>